.footer {
  background: $background-grey;
  padding-top: 16px;
  padding-bottom: 19px;
  &__info-span--768 {
    display: none;
  }
  &__info {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $grey;
    mix-blend-mode: normal;
    opacity: 0.72;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 25px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-left: 25px;
      padding-right: 24px;
      padding-top: 32px;
    }
    &__info {
      text-align: start;
      &:nth-child(3) {
        width: 225px;
        text-align: right;
      }
      &--br {
        display: none;
      }
    }

  }
}