
@media (min-width: 290px) {
    .header__button {
        cursor: pointer;
        background: none;
        border: none;
    }
    .menu--open {
        padding-bottom: 280px;
        width: 320px;
        min-height: 100vh;
        box-shadow: 16px 0 52px 0 #0E185033;
        position: relative;
    }
    .header {
        height: 88px;
        padding: 20px;
        display: flex;
    }
    .header--left {
        display: flex;
        justify-content: left;
    }
    .header--right {
        display: flex;
        margin-left: auto;
    }
    .header__logo {
        margin-left: 20px;
    }
    .menu {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .menu__item {
        padding: 15px 20px;
    }

    .menu__active {
        padding: 15px 15px;
    }
    .menu__item a {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: black;
        text-decoration: none;
    }
    .menu__active a {
        color: #7E7E82;
    }
    .menu__active:before {
        content: "";
        display: inline-block;
        transform: translate(-15px, 10px);
        width: 0;
        height: 32px;
        border: 2px solid #41F6D7;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .menu__item a:hover {
        color: #5b5b5b;
        text-decoration: underline;
    }
    .info {
        position: absolute;
        bottom:0;
        margin: auto auto 20px 20px;
    }
    .contacts {
    }
    .contacts__socials {
        display: flex;
    }
    .contacts__socials a {
        margin-right: 15px;
    }
    .contacts__mail {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contacts__mail a {
        font-size: 16px;
        line-height: 24px;
        text-align: left;

        text-decoration: none;
        color: black;
    }
    .contacts__phone {
        margin-bottom: 40px;
    }
    .contacts__phone a {
        font-weight: 700;
        text-decoration: none;
        color: black;
        font-size: 24px;
        line-height: 32px;
        text-align: left;

    }
    .lang__menu {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
    }
    .lang__menu__item {
        margin-right: 10px;
    }
    .lang__menu__item a {
        text-decoration: none;
        color: black;
    }
    .lang__menu__item a:hover {
        text-decoration: underline;
        color: #636363;
    }
    .active a {
        color: #7E7E82;

    }
}